@font-face {
	font-family: Montserrat-Regular;
	font-display: swap;
	src: url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Montserrat-Bold;
	font-display: swap;
	src: url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Montserrat-Italic;
	font-display: swap;
	src: url('../fonts/Montserrat-Italic.woff') format('woff'),
	url('../fonts/Montserrat-Italic.woff2') format('woff2');
}